name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt

      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgit2-dev libssl-dev pkg-config

      - uses: j178/prek-action@v1

      - name: cargo test
        run: cargo test

      - name: cargo build
        run: cargo build
